#aboutText
{
width: 400px;
height: 600px;
float : left;
border: 2px solid #080808;
}

#aboutText1
{
width: 400px;
height: 600px;
float : left;
border: 2px solid #080808;
}

#luft
{
width: 50px;
height: 600px;
float:left;
border: 2px solid #080808;

}