#venstreDiv
{
width: 250px;
height: 600px;
float : left;
border: 2px solid #080808;
padding: 10px;
}

#høyreDiv
{
width: 250px;
height: 600px;
float : left;
border: 2px solid #080808;
padding: 10px;
}

#luft
{
width: 10px;
height: 600px;
float:left;
border: 2px solid #080808;

}

#dialog
{
padding: 22px 0px 0px 0px;
}

#label{
float:left;
}

#valg{
float:left;
}
#form{
float:left;
}